@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #f9fafb;
    --text-color: #1f2937;
}

[data-theme='dark'] {
    --bg-color: #111827;
    --text-color: #f3f4f6;
    color-scheme: dark;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}